externalSecret:
  enabled: true

  metadata:
    name: certificate-secret
    namespace: default
    labels: {}
    annotations: {}

  refreshInterval: 1h

  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore

  target:
    name: tls-certificates
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      type: kubernetes.io/tls
      engineVersion: v2
      data:
        tls.crt: "{{ .cert }}"
        tls.key: "{{ .key }}"

  data: []
  dataFrom: []
